name: Run PayG SIT3 SoapUI Test
 
on:
  workflow_dispatch:
  push:
    paths:
      - 'SalesOrderService-soapui-project.xml'
 
jobs:
  run-soapui:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
 
      - name: Set up Java 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '11'
 
      - name: Download SoapUI 5.7.2
        run: |
          curl -L -o soapui.tar.gz "https://sourceforge.net/projects/soapui/files/soapui/5.7.2/SoapUI-5.7.2-linux-bin.tar.gz/download"
          tar xzf soapui.tar.gz
 
      - name: Run PayG SIT3 test case
        env:
          PROJECT_FILE: SalesOrderService-soapui-project.xml
          TEST_CASE: "PayG SIT3"
        run: |
          chmod +x SoapUI-5.7.2/bin/testrunner.sh
          ./SoapUI-5.7.2/bin/testrunner.sh -j -f test-output -r -R "JUnit-Style" -c "$TEST_CASE" "$PROJECT_FILE"
 
      - name: Upload SoapUI test output
        uses: actions/upload-artifact@v4
        with:
          name: soapui-test-output
          path: test-output
